@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4"> "Bienvenidos a inmobiliaria Varas"</h1>
    <p>¡Encontrá tu próximo lugar!</p>
</div>
<center>
    <div class="card bg-dark text-white" style="width:900px;">
        <img src="10-850x500.jpg" class="card-img" alt="..." height="450px">
    </div>
</center>
<br>